

.area{
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    float: left;
    overflow: auto;
    min-width: 300px;
    padding: 2vh 1vw;
    min-height: 100vh;
    background-color: #A1A1A1;
}

.panel {
    background-color: #253759;
    width: 30%;
    min-width: 30%;
    position: fixed;
    top: 0;
    left: 0;
}

.page {
    left: 32%;
    top: 0;
    position: fixed;
    width: 68%;
    min-width: 300px;
    padding: 2vh 0;
}



.area_old {
    position: fixed;
    float: left;
    display: inline-block;
    min-width: 300px;
    min-height: 100vh;
    height:auto;
    overflow:auto;
}

.panel_old {
	top: 0;
	left: 0;
	display: inline-block;
	width: 30vw;
	background-color: #253759;
}

.page_old {
	background-color: #1F1F1F;
	display: inline-block;
    width: auto;

}

.header {
	text-align: left;
	font-size: 20pt;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 auto;
	display: block;
    width: 95%;
}

.subheader {
	text-align: left;
	color: #A1A1A1;
	font-weight: normal;
    margin: 0 auto;
	display: block;
    width: 95%;
}

.controlsBlock {
	margin: 5%;
	display: block;
}


.box {
	resize: none;
	border: none;
    display: block;
    position: fixed;
    width: 29%;
    margin: 0 auto;
    float: left;
    min-width: 29%;
    min-height: 87.5vh;
    margin-top: 8vh;
    outline: 20px solid #253759;
}


.input {
    outline: 2px solid #253759;
    text-align: left;
    font-size: 17pt;
    font-family: Arial;
    color: black;
    padding: 1%;
}

#ct {
    overflow:scroll;
    width:100%;
    height: 550px;
}

#returnButton{
    border: none;
    margin-bottom: 3%;
    background-color: #EBB3A9;
}

#boxButtonDel{
    background-color: #EBB3A9;
}

.greenButton{
    border: none;
    margin-bottom: 3%;
    background-color: #D0CEBA;
}

.whiteButton{
    border: none;
    background-color: #FFFFFF;
}

.controlButtons{
    outline-offset: -5px;
    border: 5px solid #253759;
}


.buttonsDiv{
	position: relative;
    display: block;
	margin: 0 auto;
    padding-top: 5%;
    width: 95%;
}


.boxButtons {
    background-color: #253759;
    display: block;
    position: fixed;
    width: 29%;
    margin: 0 auto;
    float: left;
    min-width: 29%;
    margin-left: 32%;
    outline: 12px solid #253759;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.boxButtons__item
{
    color: #253759;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    width:30%;
    margin: 1%;
}

#buttonsListElement {
    overflow: scroll;
}

.button {
	color: #253759;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	transition: all 0.5s;
	cursor: pointer;
	width:100%;
    margin-top: 1%;
}

.draggableElement {
    background-color: #FFFFFF;
    border: 3px solid #253759; /* Цвет границы */
    color: #253759;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    width:100%;
    max-width: 420px;
    margin-top: 1%;
}


.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}





.button1 {
    background-color: #253759; /* Green */
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    width:95%;
    margin-top: 1%;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}


.boxButtons__item span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.boxButtons__item span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.boxButtons__item:hover span {
    padding-right: 25px;
}

.boxButtons__item:hover span:after {
    opacity: 1;
    right: 0;
}




#main_window {
    float: left;
    width: 600px;
    margin-left: 33%;
    margin-top:  7%; 
    border: 1px solid gray;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    margin-right: 20px;
}

#left_pane {
    float: left;
    width: 50%;
}

#right_pane {
    float: left;
    width: 50%;
}

 

#available_metrics_filter {
    margin: 5px;
    border: 1px solid gray;
    padding: 5px;
    background-color: rgb(230, 230, 230);
}

#available_metrics_list {
    padding: 0px;
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
}

#available_metrics_list li {
    margin-top: -1px;
    border: 1px solid gray;
    padding: 5px;
    list-style-type: none;
    background-color: white;
}


#selected_metrics_list {
    margin: 5px;
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
}

#selected_metrics_list li {
    margin-top: -1px;
    border: 1px solid gray;
    padding: 5px;
    list-style-type: none;
    background-color: white;
}

#selected_metrics_list li:last-child {
    border: 1px dotted gray;
}

#next_metric {
    color: gray;
}

#remove_metric {
    margin: 5px;
    border: 1px dotted gray;
    padding: 5px;
    color: gray;
    text-align: center;
    background-color: white;
}

.draggable {
    position: relative;
    cursor: default;
}

.dragOver {
    background-color: rgb(232, 232, 255) !important;
}
